/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.settings_section {
	padding: 10px;
}

.settings_section_title {
	font-weight: 600;
}

.settings_section_description {
	color: var(--text-muted);
}

.setting {
	padding: 10px;
}

input[type="text"] {
	text-align: right;
}
